<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.milanparikh.hotelmonitor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.milanparikh.hotelmonitor.MainActivity" />
        </activity>
        <activity
            android:name=".Master.MasterSetup"
            android:label="Master Setup" />
        <activity
            android:name=".Master.Master"
            android:label="Master Dashboard" />
        <activity
            android:name=".Client.Client"
            android:label="Room List" />
        <activity
            android:name=".Client.ClientCheckList"
            android:label="@string/title_activity_client_check_list"
            android:parentActivityName=".Client.Client"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.milanparikh.hotelmonitor.Client.Client" />
        </activity>
    </application>

</manifest>